<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lucas">
    <title>Sidebar</title>

    <!-- BootStrap -->
    <link href="/../../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/../../../bootstrap/js/bootstrap.min.js"></script>

    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!--MyCSS / JS-->
    <link href="/../../../bootstrap/css/myStyle-2.css" rel="stylesheet">

</head>



<body>
<div class="myContainer">
    <div class="main">
    <header>
        <h2>Conteúdo A</h2>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsum provident esse quisquam, commodi eos
            sit ea in eligendi. Labore illum cum, id illo et dignissimos expedita nihil soluta saepe.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsum provident esse quisquam, commodi eos
            sit ea in eligendi. Labore illum cum, id illo et dignissimos expedita nihil soluta saepe.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsum provident esse quisquam, commodi eos
            sit ea in eligendi. Labore illum cum, id illo et dignissimos expedita nihil soluta saepe.</p>
    </article>
    </div>
</div>
</body>