<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Lucas">
    <title>Dashboard</title>

    <!-- BootStrap -->
    <link href="../../../../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../../../../bootstrap/js/bootstrap.min.js"></script>

    <link href="../../../../../bootstrap/css/myStyle.css" rel="stylesheet">

    <style>
            body {
                background: url(/img/background.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
        </style>
</head>

<body>

<div class="test">
    <div class="dash-box">

        <div class="select-month">
            <select name="months" id="months">
                <option value="january">Janeiro</option>
                <option value="february">Fevereiro</option>
                <option value="march">Março</option>
                <option value="april">Abril</option>
                <option value="may">Maio</option>
                <option value="june">Junho</option>
                <option value="july">Julho</option>
                <option value="august">Agosto</option>
                <option value="september">Setembro</option>
                <option value="october">Outubro</option>
                <option value="november">Novembro</option>
                <option value="december">Dezembro</option>
            </select>
        </div>

        <div>
            <h2>Dashboard</h2>
        </div>



    </div>

</div>